.app {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #121212;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  
    /* HIDING SCROLLBAR FOR BROSWERS */
    scrollbar-width: none; //Firefox
  
    &::-webkit-scrollbar {
      display: none; //Chrome
    }
  
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}