@import "./global.scss";

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  height: 350px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: -20px;
}

#light {
  background-color: #f3ebf6;
  color: #8c55aa;
}

#dark {
  background-color: #46045e;
  color: #ffffff;
}

.sign {
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
svg {
  color: white;
  height: 100%;
  width: 75%;
  margin-left: 3px;
}
.switch {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    position: fixed;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    bottom: 4px;
    right: 4px;
  }
}